#search-barsy{
	margin: 1px 1px 1px 1px;
	height: 10%; 
	width: 100%;
	float: left;
}

#map{
	height: 80%; 
	width: 80%; 
	float: left;
	display: block;
	border:5px solid black; 
	border-radius: 17px;
	margin-left: 1%;
}

#bavlo{
	height: 80%; 
	width: 18%; 
	float: left;
	border:5px solid black; 
	border-radius: 17px;
	margin-left:1%;
}

#bubble-chart{
	margin-top: 2%; 
	margin-left:10%; 
	height: 60%; 
	width: 80%; 
	float: left; 
	display: block;
	border:5px solid black; 
	border-radius: 17px;
}
